@blue: #00639f;
@dark-blue: #003163;
@light-blue: #bbe5ff;
@medium-blue: #0053a0;
@muted-blue: #8098b1;
@light: #ffffff;
@light-gray: #a6a8ab;

body {
	padding-top: 80px;
	background: @dark-blue;
	color: @light;
}

.transition(@time: 0.1s, @ease: cubic-bezier(0.785, 0.135, 0.150, 0.860)) {	
	-webkit-transition: all @time @ease;
	   -moz-transition: all @time @ease;
	    -ms-transition: all @time @ease;
	     -o-transition: all @time @ease;
	        transition: all @time @ease;
}

/*
 *
 * GENERIC
 *
 */
h1 {
	color: @light-blue;
	font-weight: 200;
	margin-top: 5px;
}
h4 {
	color: @light;
	font-size: 1.3em;
}
h5 {
	color: @blue;
	font-weight: normal;
}
.no-padding {
	padding: 0;
}

/*
 *
 * NAVBAR
 *
 */
.navbar {
	min-height: 70px;
	.nav > li > a {
		color: @medium-blue;
		text-transform: uppercase;
	}
	.arrow-down {
		display: none;
	}
}
.navbar-brand {
	height: 69px;
	padding-top: 13px;
	padding-bottom: 13px;
	img {
		height: 100%;
		width: auto;
	}
}
.navbar-toggle {
	margin-top: 19px;
}
.nav {
	.subtext {
		display: none;
	}
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f8f8f8;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	margin-top: 31px;
}

/*
 *
 * COMMUNITIES
 *
 */
 .communities {
 	padding-left: 15px;
 	padding-right: 15px;
 } 
 .community {
 	display: table;
 	width: 100%;
 	height: 75px;
 	/*margin: 5px auto;*/
 	position: absolute;
 	.name {
 		display: table-cell;
 		vertical-align: middle;
 		text-align: center;
 		background: rgba(0,0,0,0.2);
 		.title {
 			font-weight: 600;
 			font-size: 1.5em;
 			text-transform: uppercase;
 		}
 		.description p {
 			margin: 0;
 		}
 	}
 	&:hover {
 		cursor: pointer;
		background: rgba(0,0,0,0.7);
 	}
 }

 /*
  *
  * MASONRY
  *
  */
 .grid-sizer {
 	position: absolute;
 	width: 100%;
 	margin: 10px 0;
 }
 .item {
 	height: 75px;
 	width: 100%;
 	margin: 10px 0;
 	overflow: hidden;
 	img {
 		margin-left: -50%;
 		margin-top: -50%;
 	}
 	&:hover {
 		cursor: pointer;
 	}
 }
 /*-- masonry 2 --*/
 .item-2 {
 	height: 100px;
 	width: 30%;
 	margin: 5px 1.5%;
 	.image {
 		width: 100%;
 		height: 100%;
 		overflow: hidden;
 		img {
 			width: auto;
 			height: 100%;
 			margin: 0 auto;
 		}
 	}
 	&:hover {
 		cursor: pointer;
 	}
 }
 .bigger {
 	width: 96%;
 	height: 320px;
 }
 .grid-sizer-2 {
 	position: absolute;
 	width: 30%;
 	margin: 5px 1.5%;
 }
 .gallery {
 	padding-left: 15px;
 	padding-right: 15px;
 }
 .address {
 	h4 {
 		font-weight: 200;
 		color: @light;
 		text-transform: uppercase;
 		font-size: 1em;
 	}
 	span {
 		display: block;
 		font-size: .8em;
 		color: #99acc1;
 	}
 }

 /*
 *
 * FOOTER
 *
 */
 footer {
 	color: @muted-blue;
 	font-size: .9em;
 	padding-bottom: 40px;
 }

.separator {
 	margin: 20px auto;
 	.side {
 		width: 41.66666666666667%;
 		background: url('../img/border.jpg') center center repeat-x;
 		height: 26px;
 		float: left;
 	}
 	.middle {
 		width: 16.666666666666664%;
 		background: url('../img/swirl.jpg') center center no-repeat;
 		height: 26px;
 		float: left;
 		background-size: 60%;
 	}
 }

/*
 *
 * OTHER
 *
 */
 .status {
 	display: none;
 	position: absolute;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	text-align: center;
 	
 	text-transform: uppercase;
 	a {
 		display: inline-block;
 		margin-left: -20px;
 		background: url('../img/icons/list.png') right center no-repeat;
 		padding-right: 25px;
		padding-top: 3px;
		color: @medium-blue;
 		&.closed {
 			display: none;
 		}
 		&:hover {
 			text-decoration: none;
 			cursor: pointer;
 		}
 	}
 }
 .menu-closed {
 	padding-top: 50px;
 	.navbar {
 		margin-top: -285px;
 		.status .open {
 			display: none;
 		}
 		.status .closed {
 			display: inline-block;
 		}
 	}
 }
 .copyright {
 	margin-top: 10px;
 }
.zoom-window {
	background: url("../img/ajaxLoader.gif") no-repeat center;
	position: relative;
	width: 616px;
	height: 411px;
}
.row {
	margin-right: auto;
	margin-left: auto;
}
.info {
	display: none;
}
.text {
	padding: 20px 0;
}
.image img {
	width: 100%;
	height: auto;
}
.mail {
	background: url('../img/icons/mail.png') 0 center no-repeat;
	padding-left: 40px;
}
.pin {
	background: url('../img/icons/pin.png') 0 center no-repeat;
	padding-left: 20px;	
}
.social {
	list-style: none;
	padding: 0;
	li {
		float: right;
		margin: 0 5px;
		a {
			text-indent: 9999px;
			overflow: hidden;
			width: 33px;
			height: 32px;
			display: block;
			&.twitter {
				background: url('../img/icons/twitter.png') 0 0 no-repeat;
			}
			&.facebook {
				background: url('../img/icons/facebook.png') 0 0 no-repeat;
			}
			&.google {
				background: url('../img/icons/google.png') 0 0 no-repeat;
			}
			&.rss {
				background: url('../img/icons/rss.png') 0 0 no-repeat;
			}
		}
	}
}
.mobile-container {
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.col-half {
	width: 50%;
	float: left;
}
#map_canvas {
	margin: 20px auto;
	width: 98%;
	height: 250px;
}

@import "media-queries.less";
