body {
  padding-top: 80px;
  background: #003163;
  color: #ffffff;
}
/*
 *
 * GENERIC
 *
 */
h1 {
  color: #bbe5ff;
  font-weight: 200;
  margin-top: 5px;
}
h4 {
  color: #ffffff;
  font-size: 1.3em;
}
h5 {
  color: #00639f;
  font-weight: normal;
}
.no-padding {
  padding: 0;
}
/*
 *
 * NAVBAR
 *
 */
.navbar {
  min-height: 70px;
}
.navbar .nav > li > a {
  color: #0053a0;
  text-transform: uppercase;
}
.navbar .arrow-down {
  display: none;
}
.navbar-brand {
  height: 69px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.navbar-brand img {
  height: 100%;
  width: auto;
}
.navbar-toggle {
  margin-top: 19px;
}
.nav .subtext {
  display: none;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f8f8f8;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: 31px;
}
/*
 *
 * COMMUNITIES
 *
 */
.communities {
  padding-left: 15px;
  padding-right: 15px;
}
.community {
  display: table;
  width: 100%;
  height: 75px;
  /*margin: 5px auto;*/
  position: absolute;
}
.community .name {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}
.community .name .title {
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
}
.community .name .description p {
  margin: 0;
}
.community:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
}
/*
  *
  * MASONRY
  *
  */
.grid-sizer {
  position: absolute;
  width: 100%;
  margin: 10px 0;
}
.item {
  height: 75px;
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.item img {
  margin-left: -50%;
  margin-top: -50%;
}
.item:hover {
  cursor: pointer;
}
/*-- masonry 2 --*/
.item-2 {
  height: 100px;
  width: 30%;
  margin: 5px 1.5%;
}
.item-2 .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.item-2 .image img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.item-2:hover {
  cursor: pointer;
}
.bigger {
  width: 96%;
  height: 320px;
}
.grid-sizer-2 {
  position: absolute;
  width: 30%;
  margin: 5px 1.5%;
}
.gallery {
  padding-left: 15px;
  padding-right: 15px;
}
.address h4 {
  font-weight: 200;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1em;
}
.address span {
  display: block;
  font-size: .8em;
  color: #99acc1;
}
/*
 *
 * FOOTER
 *
 */
footer {
  color: #8098b1;
  font-size: .9em;
  padding-bottom: 40px;
}
.separator {
  margin: 20px auto;
}
.separator .side {
  width: 41.66666666666667%;
  background: url('../img/border.jpg') center center repeat-x;
  height: 26px;
  float: left;
}
.separator .middle {
  width: 16.666666666666664%;
  background: url('../img/swirl.jpg') center center no-repeat;
  height: 26px;
  float: left;
  background-size: 60%;
}
/*
 *
 * OTHER
 *
 */
.status {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
}
.status a {
  display: inline-block;
  margin-left: -20px;
  background: url('../img/icons/list.png') right center no-repeat;
  padding-right: 25px;
  padding-top: 3px;
  color: #0053a0;
}
.status a.closed {
  display: none;
}
.status a:hover {
  text-decoration: none;
  cursor: pointer;
}
.menu-closed {
  padding-top: 50px;
}
.menu-closed .navbar {
  margin-top: -285px;
}
.menu-closed .navbar .status .open {
  display: none;
}
.menu-closed .navbar .status .closed {
  display: inline-block;
}
.copyright {
  margin-top: 10px;
}
.zoom-window {
  background: url("../img/ajaxLoader.gif") no-repeat center;
  position: relative;
  width: 616px;
  height: 411px;
}
.row {
  margin-right: auto;
  margin-left: auto;
}
.info {
  display: none;
}
.text {
  padding: 20px 0;
}
.image img {
  width: 100%;
  height: auto;
}
.mail {
  background: url('../img/icons/mail.png') 0 center no-repeat;
  padding-left: 40px;
}
.pin {
  background: url('../img/icons/pin.png') 0 center no-repeat;
  padding-left: 20px;
}
.social {
  list-style: none;
  padding: 0;
}
.social li {
  float: right;
  margin: 0 5px;
}
.social li a {
  text-indent: 9999px;
  overflow: hidden;
  width: 33px;
  height: 32px;
  display: block;
}
.social li a.twitter {
  background: url('../img/icons/twitter.png') 0 0 no-repeat;
}
.social li a.facebook {
  background: url('../img/icons/facebook.png') 0 0 no-repeat;
}
.social li a.google {
  background: url('../img/icons/google.png') 0 0 no-repeat;
}
.social li a.rss {
  background: url('../img/icons/rss.png') 0 0 no-repeat;
}
.mobile-container {
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.col-half {
  width: 50%;
  float: left;
}
#map_canvas {
  margin: 20px auto;
  width: 98%;
  height: 250px;
}
/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    padding-top: 300px;
    font-size: 1.5em;
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  /*
	 *
	 * GENERIC
	 *
	 */
  h1 {
    font-size: 2.5em;
    margin-top: 20px;
  }
  /*
	 *
	 * NAVBAR
	 *
	 */
  .navbar-header {
    float: none;
    text-align: center;
    padding-top: 15px;
  }
  .navbar-brand {
    float: none;
    height: auto;
  }
  .navbar-brand img {
    width: 66px;
    height: 87px;
  }
  .navbar-collapse {
    text-align: center;
    margin-top: 35px;
  }
  .navbar-collapse .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar {
    min-height: 275px;
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .navbar .nav > li {
    margin: 0;
  }
  .navbar .container {
    position: relative;
  }
  .navbar .arrow-down {
    display: block;
    bottom: 0;
    margin-bottom: -10px;
  }
  .nav .name,
  .nav .subtext {
    display: inline-block;
  }
  .nav .subtext {
    display: block;
    color: #a6a8ab;
    font-size: .6em;
    line-height: 1.2em;
    max-width: 100px;
    margin: 10px auto;
  }
  /*
	 *
	 * COMMUNITIES
	 *
	 */
  .communities {
    padding-left: 0;
    padding-right: 0;
  }
  .community {
    height: 100%;
  }
  .community .name .title {
    font-size: 1.3em;
  }
  .community .name .description {
    font-size: .8em;
  }
  /*
	 *
	 * MASONRY
	 *
	 */
  .masonry {
    margin-left: 22px;
  }
  .grid-sizer {
    width: 22.5%;
    margin: 10px 1%;
    float: left;
  }
  .item {
    height: 150px;
    width: 22.5%;
    margin: 10px 1%;
    float: left;
  }
  .item.doubleWidth {
    width: 46.5%;
  }
  .item.doubleHeight {
    height: 320px;
  }
  /* -- masonry 2 --*/
  .masonry-2 {
    margin-left: 30px;
  }
  .grid-sizer-2 {
    width: 11.68%;
    margin: 5px .3%;
    float: left;
  }
  .item-2 {
    height: auto;
    /*height: 100px;*/
    width: 11.68%;
    margin: 5px .3%;
  }
  .item-2 .image img {
    width: 100%;
    height: auto;
  }
  .bigger {
    width: 48.5%;
    height: 430px;
  }
  .gallery {
    padding-left: 0;
    padding-right: 0;
  }
  .separator .middle {
    background-size: auto;
  }
  /*
	 *
	 * OTHER
	 *
	 */
  .status {
    display: block;
  }
  .copyright {
    text-align: right;
  }
  .info {
    display: block;
    background: #ffffff;
    width: 90%;
    color: #6D6E70;
    margin: -110px auto 0 auto;
    position: absolute;
    left: 5%;
    z-index: 99;
    -webkit-box-shadow: 0 0 5px -2px #000000;
    -moz-box-shadow: 0 0 5px -2px #000000;
    box-shadow: 0 0 5px -2px #000000;
    padding: 15px 0;
    font-size: .7em;
    line-height: 2em;
  }
  .info span {
    display: block;
    height: 100%;
    margin-top: 5px;
  }
  .mobile-container {
    padding-left: 0;
    padding-right: 0;
  }
  #map_canvas {
    height: 350px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*
	 *
	 * GENERIC
	 *
	 */
  h1 {
    font-size: 3em;
  }
  /*
	 *
	 * NAVBAR
	 *
	 */
  .nav .subtext {
    max-width: 130px;
  }
  .info {
    font-size: 1em;
    line-height: 1.5em;
  }
  #map_canvas {
    height: 550px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    padding-top: 350px;
  }
  /*
	 *
	 * NAVBAR
	 *
	 */
  .navbar {
    min-height: 311px;
  }
  .navbar .container {
    min-height: 310px;
  }
  .navbar .nav > li {
    margin: 0 25px;
  }
}
