/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	 body {
		padding-top: 300px;
		font-size: 1.5em;
		.transition(0.3s, cubic-bezier(0.785, 0.135, 0.150, 0.860));
	 }

	 /*
	 *
	 * GENERIC
	 *
	 */
	h1 {
		font-size: 2.5em;
		margin-top: 20px;
	}

	/*
	 *
	 * NAVBAR
	 *
	 */
	.navbar-header {
		float: none;
		text-align: center;
		padding-top: 15px;
	}
	.navbar-brand {
		float: none;
		height: auto;
		
		img {
			width: 66px;
		height: 87px;
		}
	}
	.navbar-collapse {
		text-align: center;
		margin-top: 35px;
		.navbar-nav {
			display: inline-block;
			float: none;
		}
	}
	.navbar {
		min-height: 275px;
		.transition(0.3s, cubic-bezier(0.785, 0.135, 0.150, 0.860));
		.nav > li {
			margin: 0;
		}
		.container {
			position: relative;
		}
		.arrow-down {
			display: block;
			bottom: 0;
			margin-bottom: -10px;
		}
	}
	.nav {
		.name, .subtext {
			display: inline-block;
		}
		.subtext {
			display: block;
			color: @light-gray;
			font-size: .6em;
			line-height: 1.2em;
			max-width: 100px;
			margin: 10px auto;
		}
	}

	/*
	 *
	 * COMMUNITIES
	 *
	 */
	.communities {
		padding-left: 0;
		padding-right: 0;
	}
	.community {
		height: 100%;
		.name {
			.title {
				font-size: 1.3em;
			}
			.description {
				font-size: .8em;
			}
		}
	}

	/*
	 *
	 * MASONRY
	 *
	 */
	.masonry {
	    margin-left: 22px;
	}
	.grid-sizer {
		width: 22.5%;
		margin: 10px 1%;
		float: left;
	}
	.item {
		height: 150px;
		width: 22.5%;
		margin: 10px 1%; 
		float: left;
		&.doubleWidth {
			width: 46.5%;
		}
		&.doubleHeight {
			height: 320px;
		}
	}
	/* -- masonry 2 --*/
	.masonry-2 {
		margin-left: 30px;
	}
	.grid-sizer-2 {
		width: 11.68%;
		margin: 5px .3%;
		float: left;
	}
	.item-2 {
		height: auto;
		/*height: 100px;*/
		width: 11.68%;
		margin: 5px .3%;
		.image img {
		 	width: 100%;
		 	height: auto;
		 }
	}
	.bigger {
		width: 48.5%;
		height: 430px;
	}
	.gallery {
		padding-left: 0;
		padding-right: 0;
	}

	 .separator {
	 	.middle {
	 		background-size: auto;
	 	}
	 }

	/*
	 *
	 * OTHER
	 *
	 */
	 .status {
	 	display: block;
	 }
	 .copyright {
	 	text-align: right;
	 }
	 .info {
	 	display: block;
	 	background: @light;
		width: 90%;
		color: #6D6E70;
		margin: -110px auto 0 auto;
		position: absolute;
		left: 5%;
		z-index: 99;
		-webkit-box-shadow: 0 0 5px -2px #000;
		   -moz-box-shadow: 0 0 5px -2px #000;
				box-shadow: 0 0 5px -2px #000;
		padding: 15px 0;
		font-size: .7em;
		line-height: 2em;
		span {
			display: block;
			height: 100%;
			margin-top: 5px;
		}
	 }
	 .mobile-container {
	 	padding-left: 0;
	 	padding-right: 0;
	 }

	 #map_canvas {
	 	height: 350px;
	 }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {	

	/*
	 *
	 * GENERIC
	 *
	 */
	 h1 {
	 	font-size: 3em;
	 }

	/*
	 *
	 * NAVBAR
	 *
	 */
	  .nav {
		.subtext {
			max-width: 130px;
		}
	  }

	  .info {
	  	font-size: 1em;
	  	line-height: 1.5em;
	  }

	 #map_canvas {
	 	height: 550px;
	 }


	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	body {
		padding-top: 350px;
	}
	/*
	 *
	 * NAVBAR
	 *
	 */
	 .navbar {
	 	min-height: 311px;
	 	.container {
	 		min-height: 310px;
	 	}
		.nav > li {
			margin: 0 25px;
		}
		.arrow-down {
			
		}
	  }
}