// custom bootstrap
@import "../bower_components/bootstrap/less/bootstrap.less";

.gradient(@start: #78a22f, @finish: #597823) {
	background: @start; /* Old browsers */
	background: -moz-linear-gradient(top, @start 0%, @finish 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@finish)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @start 0%,@finish 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @start 0%,@finish 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @start 0%,@finish 100%); /* IE10+ */
	background: linear-gradient(to bottom, @start 0%,@finish 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start', endColorstr='@finish',GradientType=0 ); /* IE6-9 */
}
.dual-transition(@start: null, @finish: null) {
	-webkit-transition: @start, @finish;
	-moz-transition: @start, @finish;
	transition: @start, @finish;
}
.transform (@transform: null) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	transform: @transform;
}
.notext {
	font-size: 1px;
	line-height: 1px;
	text-indent: -9999px;
	overflow: hidden;
}
.caps {
	text-transform: uppercase;
}
.hilite {
	color: @brand-primary;
}
.clear {
	clear: both;
}
.relative {
	position: relative;
}
.white {
	color: #fff;
}
//.transition(.25s all ease-in-out);


//
// MOBILE STYLES
// --------------------------------------------------
body {
	background: #003668;
	color: #fff;
}
a {
	.transition(.25s all ease-in-out);
	color: @brand-primary;
	&:hover {
		color: #000;
	}
}
hr {
	&.fancy-hr {
		border-top: none;
		height: 26px;
		background: transparent url(../img/bg/fancy-hr.png) no-repeat center center;
		clear: both;
	}
}
// NAV
.navbar {
	margin-bottom: 0;
	.transition(.35s all ease-out);
}
.navbar-toggle {
	margin-top: 24px;
	margin-bottom: 24px;
}
.navbar-nav {
	margin: @grid-gutter-width -(@grid-gutter-width / 2) (@grid-gutter-width / 2) -(@grid-gutter-width / 2);
}
.nav {
	li {
		a {
			.subtext {
				.hidden-xs;
			}
		}
	}
}
// CONTENTS
article {
	background: @brand-primary;
	padding: (@grid-gutter-width * 2) 0;
}
.page-title {
	.make-xs-column(12);
	.make-md-column(6);
	.make-lg-column(5);
	font-size: ceil((@font-size-base * 2.5));
	margin-bottom: 0.65em;
	line-height: 1em;
}
.page-intro {
	.make-xs-column(12);
	.make-md-column(6);
}
.row {
	&.page {
		margin-top: @grid-gutter-width;
		img {
			&.spacing {
				margin-bottom: @grid-gutter-width;
			}
		}
	}
}
.community-intro,
.community-social{
	.make-xs-column(12);
	.make-sm-column(6);
}
.social-widget {
	.make-xs-column(12);
	.make-sm-column(6);
	.clearfix;
	margin-bottom: (@grid-gutter-width / 3);
	.social-icon {
		margin-right: (@grid-gutter-width / 3);
		.pull-left;
		&.reg-icon {
			display: relative;
			margin-top: -5px;
		}
	}
	.widget-title {
		.caps;
		color: #fff;
		display: inline-block;
		&.reg-title {
			margin-top: 8px;
			margin-bottom: 3px;
		}
		&.fbook-title {
			//margin-top: 8px;
			margin-bottom: 3px;
			line-height: 1em;
			text-transform: none;
		}
	}
}
.fb-like-box {
	width: 100% !important;
	iframe {
		width: 100% !important;
	}
}
.fb-like {
	display: block !important;
	clear: both;
}
.dark-overlay {
	background: #003668;
	padding: (@grid-gutter-width / 2);
	border-radius: @border-radius-base;
}
.featured-communities,
.plans,
.sitemap,
.home-single {
	.clearfix;
	.section-title {
		.make-xs-column(12);
	}
	.home {
		.make-xs-column(12);
		.make-sm-column(4);
		.make-md-column(3);
		margin-bottom: (@grid-gutter-width / 2);
		.home-wrap {
			background: #006cb5;
			padding: (@grid-gutter-width / 2);
			.thumb-wrap,
			.home-details {
				.make-xs-column(6);
				.make-sm-column(12);
			}
		}
		h4 {
			.caps;
			font-weight: 300;
			margin-bottom: 0;
			font-size: ceil((@font-size-base * 1.25));
			a {
				color: lighten(#7fa9d0, 10%);
			}
		}
		a {
			color: #fff;
		}
		.specs {
			//.caps;
			display: block;
		}
	}
	.home-btn {
		.make-xs-column(12);
		.make-sm-column(6);
		margin-bottom: (@grid-gutter-width / 2);
	}
}
.ctas {
	margin-top: (@grid-gutter-width * 2);
	.btn {
		padding: 10px 15px;
	}
}
.sitemap {
	.plan {
		.make-xs-column(12);
	}
	.plan-wrap {
		background: #006cb5;
		padding: (@grid-gutter-width / 2);
	}
}
.offices {
	.section-title,
	.office,
	.address,
	.hours,
	.keymap {
		.make-xs-column(12);
		.office-title {
			.caps;
			font-weight: 300;
			margin-bottom: (@grid-gutter-width / 3);
			font-size: ceil((@font-size-base * 1.25));
			color: lighten(#7fa9d0, 10%);
		}
		.office-address {
			.list-unstyled;
			li {
				margin-bottom: 4px;
				.address-value {
					background: #0083c6;
					padding: 5px;
				}
			}
		}
	}
	.office-wrap {
		background: #006cb5;
		padding: (@grid-gutter-width / 2);
	}
	.address,
	.hours,
	.keymap {
		.make-sm-column(4);
	}
	a {
		color: #fff;
	}
}
// HOMES
.home-title {
	.make-xs-column(12);
	.make-sm-column(6);
	font-size: ceil((@font-size-base * 2.5));
	margin-bottom: 0.65em;
	line-height: 1em;
	span {
		font-size: ceil((@font-size-base * 1.75));
		display: block;
		line-height: 1.2;
	}
}
.home-stats,
.home-price {
	.make-xs-column(12);
	.make-sm-column(3);
}
.home-stats {
	padding-top: 22px;
}
.home-price {
	padding-top: 24px;
	strong {
		font-size: ceil((@font-size-base * 2.5));
		line-height: 1.25;
	}
}
.home-single {
	.tab-content {
		.make-xs-column(12);
	}
}
.elevations-nav {
	.make-xs-column(12);
	.make-sm-column(6);
	margin-bottom: @grid-gutter-width;
	margin-top: @grid-gutter-width;
	.nav-pills {
		> li {
			margin-right: 5px;
			a {
				background: #003668;
				color: #fff;
				&:hover {
					background: #000;
				}
			}
			&.active {
				a {
					background: #fff;
					color: @brand-primary;
					&:hover {
						background: #000;
						color: #fff;
					}
				}
			}
		}
	}
}
.downloads-top {
	.make-xs-column(12);
	.make-sm-column(6);
	margin-bottom: @grid-gutter-width;
	margin-top: @grid-gutter-width;
	.hidden-xs;
	.nav-pills {
		>li {
			.pull-right;
			margin-left: 5px;
			margin-right: 0;
		}
	}
}
.downloads-bottom {
	.clearfix;
	.make-xs-column(12);
	.make-sm-column(6);
	.visible-xs;
	margin-top: @grid-gutter-width;
	.nav-pills {
		> li {
			margin-right: 5px;
		}
	}
}
.btn-primary {
	.button-variant(#fff; #003668; #003668);
	&:hover {
		.button-variant(#fff; darken(#003668, 7%); darken(#003668, 7%));
	}
}

// MASONRY
.masonry-2 {
	margin-left: -(@grid-gutter-width / 4);
	margin-right: -(@grid-gutter-width / 4);
	.item {
		width: 25%;
		&.w2 {
			width: 50%;
		}
		.image {
			padding: (@grid-gutter-width / 4);
			margin-bottom: 0;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}


// FOOTER
footer {
	padding: @grid-gutter-width 0;
	h3 {
		.caps;
		color: #809bb4;
	}
	.contact-slip {
		.make-xs-column(6);
		.make-sm-column(3);
		.make-lg-column(2);
	}
	.legal {
		.make-xs-column(12);
		.make-sm-column(6);
		.make-lg-column-offset(2);
		padding-top: 1em;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
			opacity: 0.75;
		}
	}
	hr {
		border-color: #809bb4;
	}
}

// COMMUNITIES
.featured-communities {
	.community-wide,
	.community-thin {
		.make-xs-column(12);
		.make-sm-column(6);
		margin-bottom: (@grid-gutter-width / 2);
		.clippers {
			overflow: hidden;
			position: relative;
			.community-name {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: #000;
				background: rgba(0,0,0,0.75);
				color: #fff;
				padding: (@grid-gutter-width / 2);
				.transition(.25s all ease-in-out);
				opacity: 0;
				span {
					display: block;
					border-top: 6px solid #666;
					border-bottom: 1px solid #666;
					border-color: rgba(255,255,255,0.35);
					padding: (@grid-gutter-width / 2) 0;
					.caps;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	.community-wide {
		.make-md-column(5);
	}
	.community-thin {
		.make-md-column(2);
	}
	
}
.community {
	.page-title {
		span {
			font-size: ceil((@font-size-base * 1.75));
			display: block;
			line-height: 1.2;
		}
	}
}

// HEROS
.carousel {
	clear: both;
	.make-xs-column(12);
	position: relative;
	margin: 0 0 @grid-gutter-width 0;
	.descr {
		display: block;
		background: #fff;
		position: relative;
		padding: (@grid-gutter-width / 3);
		line-height: 1em;
		color: @brand-primary;
		font-weight: bold;
		.caps;
		h5 {
			font-weight: bold;
			font-size: ceil((@font-size-base * 0.75));
			margin: 0 0 2px 0;
			color: #000;
		}
	}
}


// TYPOGRAPHY
h1, h2, h3 {
	margin: 0 0 1em 0;
	color: lighten(#7fa9d0, 10%);
	font-weight: 300;
	&.section-title {
		font-size: @font-size-base;
		.caps;
	}
}
h3 {
	font-size: @font-size-base;
}
p {
	margin-bottom: 1em;
}
.list-inline {
	margin-left: 0;
	margin-bottom: 0;
}
.commercial-list {
	padding-left: (@grid-gutter-width / 2);
}
#StyledForm {
	label {
		min-width: 80px;
		padding-right: 10px;
	}
	input {
		color: #333;
		&[type=submit] {
			color: #fff;
		}
	}
	a {
		color: #fff;
	}
}
form {
	a, a:hover {
		color: #fff;
	}
}

#flashMessage, #authMessage, .flashMessage {
	.clear;
	color: #333333;
	text-shadow: 1px 1px 1px #fff;
	overflow: auto;
	margin: 0 0 1em;
	padding: 8px 10px 8px 34px;
}
.error-message {
	.clear;
	padding: 0;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	&:before {
		content: "↑ ";
		display: inline;
	}
}
.error {
	background-color: #ee3322;
	color: #fff;
	margin: 1em 0;
	padding: .8em;
	em {
		color: #000000;
		font-weight: 400;
		line-height: 140%;
	}
}
.message {
	border: 1px dotted #bce8f1;
	background: #f8dedd url("../img/icons/icon_error.png") no-repeat 10px 12px;
}
.success {
	border: 1px dotted #bce8f1;
	background: #cbda8f url("../img/icons/icon_success.png") no-repeat 10px 12px;
}
.info {
	border: 1px dotted #bce8f1;
	background: #d9edf7 url("../img/icons/icon_info.png") no-repeat 10px 12px;
	color: #3a87ad;
}


// IMAGES
.model-homes {
	.image {
		margin-bottom: @grid-gutter-width;
	}
}
img {
	&.grayscale {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
		-o-filter: grayscale(100%);
		.transition(.35s all ease-in-out);
		/*&:hover {
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
			-webkit-filter: grayscale(0%);
		}*/
	}
}

// CONTACT
#map_canvas {
	width: 100%;
	height: 250px;
}
.contact-info {
	.clear;
	display: none;
}
.social {
	list-style: none;
	padding: 0;
	li {
		float: right;
		margin: 0 2px;
		a {
			text-indent: 9999px;
			overflow: hidden;
			width: 18px;
			height: 17px;
			display: block;
			&.twitter {
				background: url('../img/icons/twitter.png') 0 0 no-repeat;
			}
			&.facebook {
				background: url('../img/icons/facebook.png') 0 0 no-repeat;
			}
		}
	}
}




//
// TABLET STYLES
// --------------------------------------------------

@media (min-width: @screen-sm) {
	.navbar-header {
		clear: both;
		float: none;
	}
	.navbar-brand {
		display: block;
		padding: 0;
		float: none;
		width: 66px;
		height: auto;
	}
	.navbar {
		border-radius: 0;
		> .container {
		.navbar-brand {
				margin: @grid-gutter-width auto;
			}
		}
	}
	.main-menu {
		.navbar-nav {
			float: none !important;
			margin-left: 0;
			margin-right: 0;
			&.navbar-right {
				margin-left: -(@grid-gutter-width / 2);
				margin-right: -(@grid-gutter-width / 2);
			}
			> li {
				width: 20%;
				margin-bottom: (@grid-gutter-width / 2);
				.dropdown-menu {
					margin-top: 0;
					width: 100%;
					border: none;
					.box-shadow(none);
					background: darken(@gray-lighter, 10%);
					border-radius: 0;
					padding: (@grid-gutter-width / 6) (@grid-gutter-width / 3);
					> li {
						> a {
							text-align: center;
							.caps;
							padding: (@grid-gutter-width / 6) 0;
							border-bottom: 1px solid darken(@gray-lighter, 25%);
							background: transparent;
							&:hover {
								background: transparent;
								color: #000;
							}
						}
						&:last-child {
							> a{
								border-bottom: none;
							}
						}
					}
				}
				> a {
					text-align: center;
					padding-left: 0;
					padding-right: 0;
					&:before,
					&:after {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background: darken(@gray-lighter, 10%);
						content: '';
						-webkit-transition: opacity 0.3s, height 0.3s;
						-moz-transition: opacity 0.3s, height 0.3s;
						transition: opacity 0.3s, height 0.3s;
					}
					&:after {
						top: 100%;
						opacity: 0;
						-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
						-moz-transition: -moz-transform 0.3s, opacity 0.3s;
						transition: transform 0.3s, opacity 0.3s;
						-webkit-transform: translateY(-10px);
						-moz-transform: translateY(-10px);
						transform: translateY(-10px);
					}
					&:hover,
					&:focus {
						&:before {
							height: 6px;
							background: @brand-primary;
						}
						&:before,
						&:after {
							opacity: 1;
							-webkit-transform: translateY(0px);
							-moz-transform: translateY(0px);
							transform: translateY(0px);
						}
						span {
							&.subtext{
								opacity: 1;
								-webkit-transform: translateY(0%);
								-moz-transform: translateY(0%);
								transform: translateY(0%);
							}
						}
					}
					span {
						&.name {
							z-index: 2;
							display: block;
							.caps;
							.caret {
								margin-top: -3px;
							}
						}
						&.subtext{
							z-index: 1;
							display: block;
							padding: 8px 0 0 0;
							color: #a7a9ac;
							font-style: italic;
							font-size: 10px;
							font-family: Georgia, "Times New Roman", serif;
							opacity: 0;
							-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
							-moz-transition: -moz-transform 0.3s, opacity 0.3s;
							transition: transform 0.3s, opacity 0.3s;
							-webkit-transform: translateY(-100%);
							-moz-transform: translateY(-100%);
							transform: translateY(-100%);
						}
					}
				}
			}
		}
	}
	.navbar {
		&.glued {
			position: fixed;
			width: 100%;
			top: -242px;
			z-index: 100000;
			-webkit-transform:translateY(107px);
			-moz-transform:translateY(107px);
			-ms-transform:translateY(107px);
			transform:translateY(107px);
		}
	}
	// CONTENTS
	.page-title,
	.home-title {
		//margin-bottom: 0;
		font-size: ceil((@font-size-base * 4));
	}
	.fb-like-box {
		width: 158px !important;
		span {
			width: 158px !important;
			overflow: hidden;
			display: block;
		}
		iframe {
			width: 228px !important;
			margin-left: -60px;
			margin-top: -5px;
		}
	}
	.fb-like {
		display: inline !important;
		clear: none !important;
	}
	// HEROS
	.carousel {
		margin: @grid-gutter-width 0;
		.item, img {
			position: relative;
		}
		.descr {
			float: left;
			margin-left: -(@grid-gutter-width / 2);
			margin-top: -(@grid-gutter-width * 3);
			padding: (@grid-gutter-width / 2) @grid-gutter-width;
			span {
				font-size: ceil((@font-size-base * 1.25));
				line-height: 1em;
			}
		}
	}
	.home-btn {
		margin-bottom: 0
	}

	.contact-info {
		display: block;
		background: #fff;
		color: @gray-light;
		position: absolute;
		left: @grid-gutter-width * 3;
		right: @grid-gutter-width * 3;
		bottom: @grid-gutter-width * 2;
		padding: 0 @grid-gutter-width / 2;
		.box-shadow(0 0 5px 1px rgba(0,0,0,0.1));
		>div {
			padding: @grid-gutter-width / 2 0;
		}
		.glyphicon {
			padding-right: 3px;
			color: @brand-primary;
		}
	}
	.plans {
		.home {
			margin-bottom: @grid-gutter-width;
		}
	}

	/*.no-touch {
		.main-menu {
			.navbar-nav {
				> li {
					&:hover,
					&:focus {
						.dropdown-menu {
							display: block;
						}
					}
				}
			}
		}
	}*/
	footer {
		.legal {
			.text-right;
			padding-top: 0;
		}
	}
	#map_canvas {
		height: 500px;
	}
}

//
// DEKSTOP STYLES
// --------------------------------------------------
@media (min-width: @screen-md) {
	.main-menu {
		.navbar-nav {
			> li {
				> a {
					span {
						&.subtext {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	// CONTENTS
	.page-title,
	.home-title {
		font-size: ceil((@font-size-base * 4.2));
		margin-bottom: 0;
	}
	.communities,
	.model-homes,
	.contact {
		.page-intro {
			padding-top: 24px;
		}
	}
	// HEROS
	.carousel {
		.descr {
			padding: (@grid-gutter-width / 2) @grid-gutter-width;
			span {
				font-size: ceil((@font-size-base * 2));
			}
		}
	}
	.offices {
		.section-title,
		.office,
		.address,
		.hours,
		.keymap {
			.office-title {
				font-size: ceil((@font-size-base * 1.75));
				margin-bottom: @grid-gutter-width;
			}
		}
		.office-wrap {
			padding: @grid-gutter-width;
		}
	}
}





//
// LARGE DEKSTOP STYLES
// --------------------------------------------------
@media (min-width: @screen-lg) {
	.main-menu {
		.navbar-nav {
			> li {
				> a {
					span {
					&.name {
						font-size: 16px;
					}
						&.subtext {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	.page-title {
		padding-right: 50px;
	}
	.communities,
	.model-homes,
	.contact {
		.page-intro {
			padding-top: 52px;
		}
	}
	.community {
		.page-intro {
			padding-top: 21px;
		}
	}
}

.ie8 {
	.featured-communities {
		.community-wide,
		.community-thin {
			.clippers {
				.community-name {
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					&:hover {
						-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					}
				}
			}
		}
	}
	.masonry-2 {
		margin-left: -(@grid-gutter-width / 4);
		margin-right: -(@grid-gutter-width / 4);
		.item {
			width: 24%;
			&.w2 {
				width: 49%;
			}
			.image {
				padding: (@grid-gutter-width / 4);
				margin-bottom: 0;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}